<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         version="2.5" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee , http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"> 
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>in.nic.OauthClient</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>getAuthCodeServlet</display-name>
    <servlet-name>getAuthCodeServlet</servlet-name>
    <servlet-class>in.nic.OauthClient.getAuthCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAuthCodeServlet</servlet-name>
    <url-pattern>/webapi/OS</url-pattern>
  </servlet-mapping>
</web-app>