<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         version="2.5" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee , http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"> 
  <display-name>UserManagement</display-name>
  <welcome-file-list>
    <welcome-file>userLogin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
      <servlet-name>UsersServlet</servlet-name>
    <servlet-class>com.nkn.usermanagement.web.UsersServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/userWelcome</url-pattern>
  </servlet-mapping>
  
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/Error.jsp</location>
  </error-page>
</web-app>